.app-shell {
  width: 100%;
  height: 100vh;

  display: flex;

  overflow: hidden;

  background: #0d0c20;
}


/* =========================================
   MAIN APPLICATION AREA
   ========================================= */

.application-area {
  min-width: 0;

  flex: 1;

  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background: #0d0c20;
}


/* =========================================
   PAGE CONTENT
   ========================================= */

.page-content {
  min-width: 0;

  flex: 1;

  overflow-x: hidden;
  overflow-y: auto;

  background: #0d0c20;
}