<ion-content [fullscreen]="true">

  <div class="pin-container">

    <!-- Header -->
    <div class="header-section">

      <ion-icon
        name="shield-checkmark-outline"
        class="security-icon">
      </ion-icon>

      <h1>Confirm PIN</h1>

      <p>
        Enter the same 6-digit PIN<br>
        to confirm your security PIN
      </p>

    </div>


    <!-- PIN Dots -->
    <div class="pin-display">

      @for (dot of dots; track $index) {

        <div
          class="pin-dot"
          [class.filled]="$index < pin.length">
        </div>

      }

    </div>


    <!-- Error -->
    @if (errorMessage) {

      <div class="error-message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span>{{ errorMessage }}</span>
      </div>

    }


    <!-- Keypad -->
    <div class="keypad">

      @for (number of numbers; track number) {

        <ion-button
          class="key-button"
          fill="clear"
          (click)="pressNumber(number)">

          {{ number }}

        </ion-button>

      }

      <div></div>

      <ion-button
        class="key-button"
        fill="clear"
        (click)="pressNumber('0')">

        0

      </ion-button>

      <ion-button
        class="key-button delete-button"
        fill="clear"
        (click)="deleteDigit()">

        <ion-icon name="backspace-outline"></ion-icon>

      </ion-button>

    </div>


    <!-- Confirm Button -->
    <ion-button
      class="continue-button"
      expand="block"
      [disabled]="pin.length !== 6"
      (click)="confirmPin()">

      Confirm PIN

      <ion-icon
        slot="end"
        name="arrow-forward-outline">
      </ion-icon>

    </ion-button>

  </div>

</ion-content>